<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Holding List</title>
</head>
<body>
    <h1>Fund Holding List - {{ etf_code }}</h1>
    <button id="downloadExcelButton">Download Excel</button>
    <!-- 持股數量表格 -->
    <h2>持股數量</h2>
    <table border="1">
        <thead>
            <tr>
                <th>stock</th>
                {% for date in etf_data['日期'] %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stock_code, stock_info in etf_data.items() %}
                {% if stock_code != '日期' and stock_code != 'ok' %}
                    <tr>
                        <td>{{ stock_code }}</td>
                        {% for i in range(etf_data['日期']|length) %}
                            <td>
                                {% if etf_data[stock_code]['持股數量'][i] %}
                                    {{ etf_data[stock_code]['持股數量'][i] }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- 市值表格 -->
    <h2>市值</h2>
    <table border="1">
        <thead>
            <tr>
                <th>stock</th>
                {% for date in etf_data['日期'] %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stock_code, stock_info in etf_data.items() %}
                {% if stock_code != '日期' and stock_code != 'ok' %}
                    <tr>
                        <td>{{ stock_code }}</td>
                        {% for i in range(etf_data['日期']|length) %}
                            <td>
                                {% if etf_data[stock_code]['市值'][i] %}
                                    {{ etf_data[stock_code]['市值'][i] }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- 佔淨值比例表格 -->
    <h2>佔淨值比例</h2>
    <table border="1">
        <thead>
            <tr>
                <th>stock</th>
                {% for date in etf_data['日期'] %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stock_code, stock_info in etf_data.items() %}
                {% if stock_code != '日期' and stock_code != 'ok' %}
                    <tr>
                        <td>{{ stock_code }}</td>
                        {% for i in range(etf_data['日期']|length) %}
                            <td>
                                {% if etf_data[stock_code]['佔淨值比例'][i] %}
                                    {{ etf_data[stock_code]['佔淨值比例'][i] }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <script>

        var etf_data_str = '{{ etf_data | tojson | safe }}';
        var etf_data = JSON.parse(etf_data_str);
        delete etf_data['ok'];
        var etf_code = '{{ etf_code | safe }}';

        document.getElementById('downloadExcelButton').addEventListener('click', function () {
            // 使用 JavaScript 將 etf_data 送回後端
            fetch('/download_excel/持股清單', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ etf_data: etf_data })
            })
            .then(response => {
            // 文件下载
            response.blob().then(blob => {
                let url = window.URL.createObjectURL(blob);
                let currentDate = new Date();
                let formattedDate = currentDate.getFullYear() +
                                '-' + (currentDate.getMonth() + 1).toString().padStart(2, '0') +
                                '-' + currentDate.getDate().toString().padStart(2, '0');

                // 檔案名稱，加入現在日期
                let fileName = `${etf_code}_holding_list_${formattedDate}.xlsx`;

                var a = document.createElement('a');
                a.href = url;
                a.download = fileName;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            });
        })
        .catch(error => {
            alert('Error sending data to server.');
        });
    });
    </script>
</body>
</html>